html,
body {
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: purple;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}

a {
  color: darkturquoise;
  font-weight: bold;
  text-decoration: none;
}

pre {
  text-align: center;
}

code {
  display: inline-block;

  background-color: rgba(0, 0, 0, 0.04);
}

pre code {
  margin: auto;
  max-width: 100%;
  padding: 0.25em 0.5em;

  text-align: left;

  overflow-y: scroll;
}

section.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em;
}
