nav {
  display: block;
  position: relative;
  top: 0;
  width: 100%;

  background: purple;

  color: white;
  text-transform: uppercase;
}

nav::after {
  display: table;

  clear: both;
  content: "";
}

nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul:last-of-type:not(:first-of-type) {
  float: right;
}

nav li {
  display: inline;
}

nav a {
  display: block;
  float: left;
  padding: 0.75em;

  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

nav a.active {
  border-bottom: 0.25em solid red;
  padding-bottom: 0.5em;
}

nav nav {
  display: none;
}

nav a.active + nav {
  display: block;
  background: red;
  position: absolute;
  top: 100%;

  text-transform: lowercase;
}

nav nav a.active {
  border-bottom-color: purple;
  padding-bottom: 0.5em;
}

nav + section.content {
  margin-top: 4em;
}

@media (min-width: 768px) {
  nav a {
    padding: 1.25em;
  }

  nav a.active {
    padding-bottom: 1em;
  }

  nav nav a {
    padding: 0.75em;
  }
}
